@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 0.8;
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 0.8;
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    opacity: 0.8;
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.7;
  padding: 3rem; }

.heading--primary {
  text-transform: uppercase;
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading--primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s; }
  .heading--primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 2s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #276fce, #7baff3);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  justify-self: center;
  align-self: center;
  display: flex; }

.heading-tertiary {
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 700; }

.btn {
  border: none;
  cursor: pointer; }
  .btn--box {
    position: absolute;
    bottom: 15rem;
    left: 50%;
    transform: translate(-50%); }
  .btn, .btn:link, .btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover, .btn:focus {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after, .btn:focus::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn__white {
    background-color: #fff;
    animation: moveUp 2s;
    color: #276fce; }
    .btn__white::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--add--task {
    background-image: linear-gradient(to right bottom, #038010, #0eb71f);
    margin-left: 1rem;
    color: white; }

.status__button--selected, .status__button--unselected {
  justify-content: center;
  align-items: center;
  width: 7rem;
  display: flex;
  height: 1rem; }

.status__button--unselected {
  background-color: red; }

.status__button--selected {
  background-color: green; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form_button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; }

.form_button-submit, .form_button-cancel {
  border: none;
  height: 5rem;
  width: 10rem;
  color: white;
  cursor: pointer;
  border-radius: .7rem; }

.form_button-submit {
  background-image: linear-gradient(to right bottom, #038010, #0eb71f); }

.form_button-cancel {
  background-image: linear-gradient(to right bottom, #c20000, #fd4545); }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  color: inherit;
  border-radius: 2px;
  background-color: rgba(142, 142, 142, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input::-webkit-input-placeholder {
    color: #8e8e8e; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #7baff3; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #276fce; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .5s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.popup-cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center; }
  .popup-cover_add_task {
    background-color: white;
    padding: 10rem;
    border-radius: 3px; }

.radio-group {
  width: 24%;
  display: inline-block;
  margin-bottom: 3rem; }

.radio-input {
  display: none; }

.radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
  justify-self: center;
  align-self: center;
  display: flex;
  margin-bottom: 2rem; }

.radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #276fce;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4; }
  .radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #276fce;
    opacity: 0;
    transition: opacity .2s; }

.radio-input:checked + .radio-label .radio-button::after {
  opacity: 1; }

.task__card {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  margin-bottom: 5rem; }
  .task__card__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    top: -2rem; }
  .task__card__img {
    height: 95%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s; }
  .task__card:hover .task__card__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.task__text {
  transform: skewX(12deg); }

.task__buttons {
  margin-right: 1rem;
  transform: skewX(12deg);
  margin-top: 1rem; }
  .task__buttons--edit {
    background-image: linear-gradient(to right bottom, #a501f7, #bd44fa);
    color: white; }
  .task__buttons--delete {
    background-image: linear-gradient(to right bottom, #c20000, #fd4545);
    color: white; }

.header {
  height: 95vh;
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(to right bottom, rgba(123, 175, 243, 0.8), rgba(39, 111, 206, 0.8)), url("./resources/images/to-do-loo-bg-img.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  position: relative; }
  .header__text--box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }

.col-1-of-4 {
  width: calc((100% - 6rem) / 4); }

.col-3-of-4 {
  width: calc((100% - 6rem) * 3 / 4); }

.section--todo {
  padding: 10rem 0;
  margin-top: -10vh;
  background-color: #c7c7c7;
  height: 85vh; }
  .section--todo__list {
    position: relative;
    height: 96vh;
    overflow-x: auto; }
  .section--todo__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; }
