.heading--primary{
    text-transform: uppercase;
    color: $color-white;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        //add animations
        animation-name: moveInLeft;
        animation-duration: 2s;
    }

    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.74rem;

        //add animation
        animation: moveInRight 2s;
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;

    display: inline-block;

    background-image: linear-gradient(
        to right,
        $color-secondary-dark,
        $color-primary-light
    );
    -webkit-background-clip: text;
    color: transparent;

    letter-spacing: 2px;
    justify-self: center;
    align-self: center;
    display: flex;
}

.heading-tertiary{
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 700;
}

.task__heading{
    font-size: 1.5rem;

    &--status-inProgress{
        color: $color-secondary-dark
    }

    &--status-complete{
        color: $add-task-button-color-dark;
    }

    &--status-incomplete{
        color: $button-delete-red-dark;
    }


}