.heading--primary{
    text-transform: uppercase;
    color: $color-white;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        //add animations
        animation-name: moveInLeft;
        animation-duration: 2s;
    }

    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.74rem;

        //add animation
        animation: moveInRight 2s;
    }
}